
<div class="container-fluid" id="wrapper">
  <div class="row">

    <side-nav [linkId]="2"></side-nav>

    <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">

      <app-header [title]="'Basic Sentiment Analysis'" ></app-header>

      <section class="row">
        <div class="col-sm-12">
          <section class="row">
            <div class="col-md-12 col-lg-8">

              <!-- Sentence Lists -->
              <div class="card mb-4">
                <div class="card-block">
                  <h3 class="card-title">Test Data</h3>

                  <p>
                    Positive opinions
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                        <tr>
                          <th>#</th>

                          <th>Sentence</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let sentence of sentenceListPositive.sentenceList; let i = index">
                          <td>{{ i + 1 }}</td>

                          <td>{{ sentence }}</td>
                        </tr>
                      </tbody>

                    </table>

                  </div>

                  <p>
                    Negative opinions
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                        <tr>
                          <th>#</th>

                          <th>Sentence</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let sentence of sentenceListNegative.sentenceList; let i = index">
                          <td>{{ i + 1 }}</td>

                          <td>{{ sentence }}</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>

                  <p>
                    Hate speech
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                      <tr>
                        <th>#</th>

                        <th>Sentence</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr *ngFor="let sentence of sentenceListHateSpeech.sentenceList; let i = index">
                        <td>{{ i + 1 }}</td>

                        <td>{{ sentence }}</td>
                      </tr>
                      </tbody>

                    </table>
                  </div>

                  <p>
                    Cyber-bullying
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                      <tr>
                        <th>#</th>

                        <th>Sentence</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr *ngFor="let sentence of sentenceListCyberBullying.sentenceList; let i = index">
                        <td>{{ i + 1 }}</td>

                        <td>{{ sentence }}</td>
                      </tr>
                      </tbody>

                    </table>
                  </div>

                  <p>
                    Cyber-stalking
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                      <tr>
                        <th>#</th>

                        <th>Sentence</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr *ngFor="let sentence of sentenceListCyberStalking.sentenceList; let i = index">
                        <td>{{ i + 1 }}</td>

                        <td>{{ sentence }}</td>
                      </tr>
                      </tbody>

                    </table>
                  </div>

                </div>
              </div>
              <!-- /Sentence Lists -->

              <div class="card mb-4">
                <div class="card-block">
                  <h3 class="card-title">Articles</h3>

                  <div class="dropdown card-title-btn-container">
                    <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> View All</button>

                    <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
                      <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
                      <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
                  </div>

                  <h6 class="card-subtitle mb-2 text-muted">Latest news</h6>

                  <div class="divider" style="margin-top: 1rem;"></div>

                  <div class="articles-container">
                    <div class="article border-bottom">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-2 date">
                            <div class="large">30</div>

                            <div class="text-muted">Jun</div>
                          </div>

                          <div class="col-10">
                            <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                          </div>
                        </div>
                      </div>

                      <div class="clear"></div>
                    </div><!--End .article-->

                    <div class="article">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-2 date">
                            <div class="large">30</div>

                            <div class="text-muted">Jun</div>
                          </div>

                          <div class="col-10">
                            <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                          </div>
                        </div>
                      </div>

                      <div class="clear"></div>
                    </div><!--End .article-->

                    <div class="article">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-2 date">
                            <div class="large">30</div>

                            <div class="text-muted">Jun</div>
                          </div>

                          <div class="col-10">
                            <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
                          </div>
                        </div>
                      </div>

                      <div class="clear"></div>
                    </div><!--End .article-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-4">
              <div class="card mb-4">
                <div class="card-block">
                  <h3 class="card-title">Project Planning</h3>

                  <h6 class="card-subtitle mb-2 text-muted">Agile Methodology</h6>

                  <div class="user-progress justify-center">
                    <div class="col-sm-12 col-md-12" style="padding: 0;">
                      <a class="btn btn-primary btn-lg mt-2" href="https://trello.com/b/RtCLHqqb" role="button" target="_blank">Project Planning</a>
                    </div>
                  </div>

                  <div class="user-progress justify-center">
                    <div class="col-sm-12 col-md-12" style="padding: 0;">
                      <a class="btn btn-primary btn-lg mt-2" href="https://github.com/nate-brown/automated-online-behaviour-detection/" role="button" target="_blank">GitHub Repository</a>
                    </div>
                  </div>

                  <side-timeline></side-timeline>

                </div>
              </div>

              <div class="card mb-4">
                <div class="card-block">
                  <h3 class="card-title">Todo List</h3>

                  <div class="dropdown card-title-btn-container">
                    <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
                      <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
                      <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
                  </div>

                  <h6 class="card-subtitle mb-2 text-muted">A simple checklist</h6>

                  <ul class="todo-list mt-2">
                    <li class="todo-list-item">
                      <div class="form-check">
                        <input type="checkbox" id="checkbox-1" />

                        <label for="checkbox-1">Make coffee</label>

                        <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                      </div>
                    </li>
                    <li class="todo-list-item">
                      <div class="form-check">
                        <input type="checkbox" id="checkbox-2" />

                        <label for="checkbox-2">Check emails</label>

                        <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                      </div>
                    </li>
                    <li class="todo-list-item">
                      <div class="form-check">
                        <input type="checkbox" id="checkbox-3" />

                        <label for="checkbox-3">Reply to Jane</label>

                        <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                      </div>
                    </li>
                    <li class="todo-list-item">
                      <div class="form-check">
                        <input type="checkbox" id="checkbox-4" />

                        <label for="checkbox-4">Work on the new design</label>

                        <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                      </div>
                    </li>
                    <li class="todo-list-item">
                      <div class="form-check">
                        <input type="checkbox" id="checkbox-5" />

                        <label for="checkbox-5">Get feedback</label>

                        <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                      </div>
                    </li>
                  </ul>

                  <div class="card-footer todo-list-footer">
                    <div class="input-group">
                      <input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" /><span class="input-group-btn">
													<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
											</span></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="row">
            <div class="col-12 mt-1 mb-4">Template by <a href="https://www.medialoot.com">Medialoot</a></div>
          </section>
        </div>
      </section>
    </main>
  </div>

