
<div class="container-fluid" id="wrapper">
  <div class="row">

    <side-nav [linkId]="2"></side-nav>

    <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">

      <app-header [title]="'Basic Sentiment Analysis'" ></app-header>

      <section class="row">
        <div class="col-sm-12">
          <section class="row">
            <div class="col-md-12 col-lg-8">

              <div class="jumbotron">
                <h1 class="mb-4">Introduction</h1>

                <p>
                  Testing the Sentiment Analysis API using positive, negative, hate speech, cyber-bullying and cyber-stalking sentence lists.
                </p>

                <p>
                  Returns sentiment ratings of positive, negative, neutral and compound in JSON format.
                  The first three sentiments ratings scale from 0 to 1. Compound sentiment is the overall sentiment, where it scales between -1 to 1, negative to positive respectively.
                </p>

                <p class="lead">
                  <a class="btn btn-primary btn-lg mt-2" href="#" role="button">Research Article</a>
                </p>

              </div>

              <!-- Sentence Lists -->
              <div class="card mb-4">
                <div class="card-block">
                  <h3 class="card-title">Test Data</h3>

                  <p>
                    Please note: This project examines the complexities of automatically detecting improper behaviour on online Social Networks. I do not condone any form hate speech, cyber-bullying or cyber-stalking. These are criminal acts.
                  </p>
                  <p>
                    Therefore, due to the nature of the research project, words used in these lists may offend, insult, intimidate, or threaten an individual or group based on a trait or attribute, such as sexual orientation, religion, color, gender, or disability.
                  </p>

                  <p class="lead">
                    <a class="btn btn-primary btn-lg mt-2" href="#historical-results" role="button">Skip to results</a>
                  </p>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Positive opinions</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                        <tr>
                          <th>#</th>

                          <th>Sentence</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let sentence of sentenceListPositive.sentenceList; let i = index">
                          <td>{{ i + 1 }}</td>

                          <td>{{ sentence }}</td>
                        </tr>
                      </tbody>

                    </table>

                  </div>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Negative opinions</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                        <tr>
                          <th>#</th>

                          <th>Sentence</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let sentence of sentenceListNegative.sentenceList; let i = index">
                          <td>{{ i + 1 }}</td>

                          <td>{{ sentence }}</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Hate speech</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                      <tr>
                        <th>#</th>

                        <th>Sentence</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr *ngFor="let sentence of sentenceListHateSpeech.sentenceList; let i = index">
                        <td>{{ i + 1 }}</td>

                        <td>{{ sentence }}</td>
                      </tr>
                      </tbody>

                    </table>
                  </div>

                  <p>Please note: This list is for research purposes. I do not condone any form hate speech, cyber-bullying or cyber-stalking. These are criminal acts.</p>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Cyber-bullying</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                      <tr>
                        <th>#</th>

                        <th>Sentence</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr *ngFor="let sentence of sentenceListCyberBullying.sentenceList; let i = index">
                        <td>{{ i + 1 }}</td>

                        <td>{{ sentence }}</td>
                      </tr>
                      </tbody>

                    </table>
                  </div>

                  <p>Please note: This list is for research purposes. I do not condone any form hate speech, cyber-bullying or cyber-stalking. These are criminal acts.</p>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Cyber-stalking</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">

                      <thead>
                      <tr>
                        <th>#</th>

                        <th>Sentence</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr *ngFor="let sentence of sentenceListCyberStalking.sentenceList; let i = index">
                        <td>{{ i + 1 }}</td>

                        <td>{{ sentence }}</td>
                      </tr>
                      </tbody>

                    </table>
                  </div>

                  <p>Please note: This list is for research purposes. I do not condone any form hate speech, cyber-bullying or cyber-stalking. These are criminal acts.</p>

                  <a class="btn btn-primary btn-lg mt-2" (click)="runSentimentAnalysisTest($event)">Run Test</a>

                  <div class="divider"></div>

                  <h3>
                    Results
                  </h3>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Sentence</th>

                        <th>Positive</th>

                        <th>Negative</th>

                        <th>Neutral</th>

                        <th>Compound</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr *ngFor="let result of sentimentAnalysisResults">
                        <td>{{ result.sentence }}</td>

                        <td>{{ result.positive }}</td>

                        <td>{{ result.negative }}</td>

                        <td>{{ result.neutral }}</td>

                        <td>{{ result.compound }}</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <p style="font-size: 10px;">
                    The Sentiment Analysis API uses the Social Sentiment Analysis algorithm from
                    <a href="https://algorithmia.com/algorithms/nlp/SocialSentimentAnalysis">https://algorithmia.com/algorithms/nlp/SocialSentimentAnalysis</a>
                    which is based on the work of Hutto & Gilbert (2014).
                  </p>

                  <p style="font-size: 10px;">
                    Hutto, C.J and Gilbert, E.E, 2014. VADER: A Parsimonious Rule-based Model for Sentiment Analysis of Social Media Text. Eighth International Conference on Weblogs and Social Media (ICWSM-14).
                  </p>

                </div>
              </div>
              <!-- /Sentence Lists -->

              <div class="card mb-4">
                <div class="card-block">
                  <h3 id="historical-results" class="card-title">Historical Test Results</h3>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Positive opinions</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Sentence</th>

                        <th>Positive</th>

                        <th>Negative</th>

                        <th>Neutral</th>

                        <th>Compound</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>The camera on my phone takes great pictures</td>

                        <td>0.369</td>

                        <td>0</td>

                        <td>0.631</td>

                        <td>0.6249</td>
                      </tr><tr>
                        <td>That was an awesome event</td>

                        <td>0.506</td>

                        <td>0</td>

                        <td>0.494</td>

                        <td>0.6249</td>
                      </tr><tr>
                        <td>The book I read was so good and spine-chilling</td>

                        <td>0.348</td>

                        <td>0</td>

                        <td>0.652</td>

                        <td>0.5777</td>
                      </tr><tr>
                        <td>The roads were empty, it was great</td>

                        <td>0.376</td>

                        <td>0.165</td>

                        <td>0.459</td>

                        <td>0.5106</td>
                      </tr><tr>
                        <td>I think blue is the best colour in the world</td>

                        <td>0.344</td>

                        <td>0</td>

                        <td>0.656</td>

                        <td>0.6369</td>
                      </tr><tr>
                        <td>The company provides exceptional customer service. I would recommend them to my friends</td>

                        <td>0.359</td>

                        <td>0</td>

                        <td>0.641</td>

                        <td>0.6808</td>
                      </tr><tr>
                        <td>I think Romans pizza is the best pizza in South Africa</td>

                        <td>0.318</td>

                        <td>0</td>

                        <td>0.682</td>

                        <td>0.6369</td>
                      </tr><tr>
                        <td>Nelson Mandela is a role model to many of us, and we should follow in his foot steps</td>

                        <td>0</td>

                        <td>0</td>

                        <td>1</td>

                        <td>0</td>
                      </tr><tr>
                        <td>The movie was awesome, definitely worth the money</td>

                        <td>0.635</td>

                        <td>0</td>

                        <td>0.365</td>

                        <td>0.8271</td>
                      </tr><tr>
                        <td>The application on my phone does everything I need it to, thank you</td>

                        <td>0.185</td>

                        <td>0</td>

                        <td>0.815</td>

                        <td>0.3612</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Negative opinions</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Sentence</th>

                        <th>Positive</th>

                        <th>Negative</th>

                        <th>Neutral</th>

                        <th>Compound</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>My phones camera does not take great pictures</td>

                        <td>0</td>

                        <td>0.32</td>

                        <td>0.68</td>

                        <td>-0.5096</td>
                      </tr><tr>
                        <td>The event could of been better, what a waste of time</td>

                        <td>0.212</td>

                        <td>0.204</td>

                        <td>0.584</td>

                        <td>0.0258</td>
                      </tr><tr>
                        <td>The book was completely boring</td>

                        <td>0</td>

                        <td>0.393</td>

                        <td>0.607</td>

                        <td>-0.3804</td>
                      </tr><tr>
                        <td>The traffic really was bad, the city has to do something about it really soon</td>

                        <td>0</td>

                        <td>0.213</td>

                        <td>0.787</td>

                        <td>-0.5829</td>
                      </tr><tr>
                        <td>Black is a really bad colour for the newborns room</td>

                        <td>0</td>

                        <td>0.322</td>

                        <td>0.678</td>

                        <td>-0.5849</td>
                      </tr><tr>
                        <td>That company’s customer service sucks. I won’t buy anything from them again</td>

                        <td>0</td>

                        <td>0.2</td>

                        <td>0.8</td>

                        <td>-0.3612</td>
                      </tr><tr>
                        <td>Débonnaires makes the worst pizza in South Africa</td>

                        <td>0</td>

                        <td>0.369</td>

                        <td>0.631</td>

                        <td>-0.6249</td>
                      </tr><tr>
                        <td>Adolf Hitler is something we should definitely not role model, he was a murderer</td>

                        <td>0.148</td>

                        <td>0.251</td>

                        <td>0.601</td>

                        <td>-0.4404</td>
                      </tr><tr>
                        <td>The movies are too expensive nowadays, not worth my money</td>

                        <td>0</td>

                        <td>0.156</td>

                        <td>0.844</td>

                        <td>-0.1695</td>
                      </tr><tr>
                        <td>Your application has too many bugs, uninstalled</td>

                        <td>0</td>

                        <td>0</td>

                        <td>1</td>

                        <td>0</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Hate speech</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Sentence</th>

                        <th>Positive</th>

                        <th>Negative</th>

                        <th>Neutral</th>

                        <th>Compound</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>These monkeys that are allowed to be released on New years Eve And new years day on to public beaches towns etc</td>

                        <td>0</td>

                        <td>0</td>

                        <td>1</td>

                        <td>0</td>
                      </tr><tr>
                        <td>From now on I shall address the blacks of south Africa as monkeys as I see the cut little wild monkeys do the same pick drop and litter.</td>

                        <td>0</td>

                        <td>0.149</td>

                        <td>0.851</td>

                        <td>-0.4939</td>
                      </tr><tr>
                        <td>I want to clean this country of all white people. we must act as Hitler did to the Jews.</td>

                        <td>0.2</td>

                        <td>0</td>

                        <td>0.8</td>

                        <td>0.4588</td>
                      </tr><tr>
                        <td>Queers are an abomination and need to be helped to go straight to Hell!</td>

                        <td>0.101</td>

                        <td>0.26</td>

                        <td>0.639</td>

                        <td>-0.6114</td>
                      </tr><tr>
                        <td>The Palestinians are beasts walking on two legs.</td>

                        <td>0</td>

                        <td>0</td>

                        <td>1</td>

                        <td>0</td>
                      </tr><tr>
                        <td>Now that Trump is president, I'm going to shoot you and all the blacks I can find</td>

                        <td>0</td>

                        <td>0.138</td>

                        <td>0.862</td>

                        <td>-0.34</td>
                      </tr><tr>
                        <td>The Jews are criminals and our enemies.</td>

                        <td>0</td>

                        <td>0.58</td>

                        <td>0.42</td>

                        <td>-0.7845</td>
                      </tr><tr>
                        <td>Women are like grass, they need to be beaten/cut regularly.</td>

                        <td>0.217</td>

                        <td>0</td>

                        <td>0.783</td>

                        <td>0.3612</td>
                      </tr><tr>
                        <td>You just need to be raped.</td>

                        <td>0</td>

                        <td>0.479</td>

                        <td>0.521</td>

                        <td>-0.6808</td>
                      </tr><tr>
                        <td>Your Muslim headscarf isn't allowed anymore. Why don’t you tie it around your neck &amp; hang yourself with it</td>

                        <td>0</td>

                        <td>0</td>

                        <td>1</td>

                        <td>0</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Cyber-bullying</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Sentence</th>

                        <th>Positive</th>

                        <th>Negative</th>

                        <th>Neutral</th>

                        <th>Compound</th>
                      </tr>
                      </thead>

                      <tbody>
                       <tr>
                        <td>I’m going to kill you</td>

                        <td>0</td>

                        <td>0.54</td>

                        <td>0.46</td>

                        <td>-0.6908</td>
                      </tr><tr>
                        <td>You are not worth anything</td>

                        <td>0</td>

                        <td>0.294</td>

                        <td>0.706</td>

                        <td>-0.1695</td>
                      </tr><tr>
                        <td>Your are worthless. You are just on Facebook to get attention</td>

                        <td>0</td>

                        <td>0.225</td>

                        <td>0.775</td>

                        <td>-0.4404</td>
                      </tr><tr>
                        <td>You are ugly</td>

                        <td>0</td>

                        <td>0.623</td>

                        <td>0.377</td>

                        <td>-0.5106</td>
                      </tr><tr>
                        <td>I can’t believe I have seen anyone this ugly</td>

                        <td>0</td>

                        <td>0.392</td>

                        <td>0.608</td>

                        <td>-0.596</td>
                      </tr><tr>
                        <td>No one likes you, you know…</td>

                        <td>0.311</td>

                        <td>0.244</td>

                        <td>0.444</td>

                        <td>0.1531</td>
                      </tr><tr>
                        <td>There’s no reason for you to live</td>

                        <td>0</td>

                        <td>0.268</td>

                        <td>0.732</td>

                        <td>-0.296</td>
                      </tr><tr>
                        <td>No one wants to be your friend, loser!</td>

                        <td>0.227</td>

                        <td>0.418</td>

                        <td>0.355</td>

                        <td>-0.4003</td>
                      </tr><tr>
                        <td>You are ugly and fat. You have no friends and no one will ever love you. Why do you even bother coming to school anymore freak</td>

                        <td>0.186</td>

                        <td>0.331</td>

                        <td>0.483</td>

                        <td>-0.5719</td>
                      </tr><tr>
                        <td>She is ugly and fat!, We all know you have no friends</td>

                        <td>0.173</td>

                        <td>0.324</td>

                        <td>0.503</td>

                        <td>-0.4003</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Cyber-stalking - Perpetrator</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Sentence</th>

                        <th>Positive</th>

                        <th>Negative</th>

                        <th>Neutral</th>

                        <th>Compound</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>Let’s make this simple. You have until noon. I am not bluffing. Don’t be stupid. Once I send pics of you they cannot be unsent.</td>

                        <td>0</td>

                        <td>0.134</td>

                        <td>0.866</td>

                        <td>-0.5267</td>
                      </tr><tr>
                        <td>Well what can I say, I do what I want. But, no worries since you made it very easy to see why you single</td>

                        <td>0.239</td>

                        <td>0.181</td>

                        <td>0.58</td>

                        <td>0.1513</td>
                      </tr><tr>
                        <td>Really, yeah I just went through ever single one of your pictures… sure your married lol and I am not a creep, just curious and stubborn thanks</td>

                        <td>0.316</td>

                        <td>0.141</td>

                        <td>0.543</td>

                        <td>0.7032</td>
                      </tr><tr>
                        <td>Privacy settings don’t stop people who know how to get around those things on facebook, yeah and i still made it into your pics to see</td>

                        <td>0.08</td>

                        <td>0.08</td>

                        <td>0.839</td>

                        <td>0</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                  <div class="divider"></div>

                  <h6 class="card-subtitle mb-2 text-muted">Cyber-stalking - Perpetrator &amp; Victim</h6>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Sentence</th>

                        <th>Positive</th>

                        <th>Negative</th>

                        <th>Neutral</th>

                        <th>Compound</th>
                      </tr>
                      </thead>

                      <tbody>
                      <!--bindings={
  "ng-reflect-ng-for-of": ""
}--><tr>
                        <td>Let’s make this simple. You have until noon. I am not bluffing. Don’t be stupid. Once I send pics of you they cannot be unsent.</td>

                        <td>0</td>

                        <td>0.134</td>

                        <td>0.866</td>

                        <td>-0.5267</td>
                      </tr><tr>
                        <td>Next time a woman politely declines an unwarranted advance from you, please take that with grace and don’t try to convince her otherwise. Well what can I say, I do what I want. But, no worries since you made it very easy to see why you single</td>

                        <td>0.255</td>

                        <td>0.093</td>

                        <td>0.652</td>

                        <td>0.7713</td>
                      </tr><tr>
                        <td>HAHAHA IM MARRIED YOU IDIOT. But nice try. Really, yeah I just went through ever single one of your pictures… sure your married lol and I am not a creep, just curious and stubborn thanks</td>

                        <td>0.357</td>

                        <td>0.176</td>

                        <td>0.466</td>

                        <td>0.8373</td>
                      </tr><tr>
                        <td>My album is set to private you fucking idiot. Privacy settings don’t stop people who know how to get around those things on facebook, yeah and i still made it into your pics to see</td>

                        <td>0.056</td>

                        <td>0.149</td>

                        <td>0.795</td>

                        <td>-0.5563</td>
                      </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-4">
              <div class="card mb-4">
                <div class="card-block">
                  <h3 class="card-title">Project Planning</h3>

                  <h6 class="card-subtitle mb-2 text-muted">Agile Methodology</h6>

                  <div class="user-progress justify-center">
                    <div class="col-sm-12 col-md-12" style="padding: 0;">
                      <a class="btn btn-primary btn-lg mt-2" href="https://trello.com/b/RtCLHqqb" role="button" target="_blank">Project Planning</a>
                    </div>
                  </div>

                  <div class="user-progress justify-center">
                    <div class="col-sm-12 col-md-12" style="padding: 0;">
                      <a class="btn btn-primary btn-lg mt-2" href="https://github.com/nate-brown/automated-online-behaviour-detection/" role="button" target="_blank">GitHub Repository</a>
                    </div>
                  </div>

                  <side-timeline></side-timeline>

                </div>
              </div>

            </div>
          </section>
          <section class="row">
            <div class="col-12 mt-1 mb-4">Template by <a href="https://www.medialoot.com">Medialoot</a></div>
          </section>
        </div>
      </section>
    </main>
  </div>

